<div class="card h-100">
  <div class="card-body">
    <h5 class="card-title">{{ title | translate}}</h5>
    <form #editForm="ngForm" novalidate (ngSubmit)="onSubmit(editForm)">
      <div class="form-group row">
        <label for="email" class="col-sm-2 col-form-label">{{ 'forms.email' | translate }}</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="email" ngModel #email="ngModel"  name="email" readonly
                 placeholder="{{ 'Edited Mail' }}" value="{{ user?.email }}">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputName" class="col-sm-2 col-form-label">{{ 'Name' | translate }}</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputName" ngModel #name="ngModel" name="name" value="{{ user?.name }}"
                 placeholder="{{ 'Edited name' | translate }}">
        </div>
        <div *ngIf="!name.valid && editForm.submitted" class="invalid-tooltip">Name is required!</div>
      </div>
      <div class="form-group row">
        <label for="password" class="col-sm-2 col-form-label">{{ 'Password' | translate }}</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="password" ngModel #password="ngModel" name="password" value="{{ user?.password }}"
                 placeholder="{{ 'New Password' | translate }}">
        </div>
        <div *ngIf="!password.valid && editForm.submitted" class="invalid-tooltip">Password is required!</div>
        <div *ngIf="formErrors?.password" class="invalid-tooltip">
          <p *ngFor="let error of formErrors?.password ">
            {{ error }}
          </p>
          </div>
      </div>
      <div class="form-group row">
        <label for="password_confirmation" class="col-sm-2 col-form-label">{{ 'Password Confirmation' | translate }}</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="password_confirmation" ngModel #password_confirmation="ngModel" name="password_confirmation"
                  placeholder="{{ 'Confirm  new password' | translate }}">
        </div>
      </div>
      <div class="form-group row">
        <label for="company_id" class="col-sm-2 col-form-label">{{ 'Company' | translate }}</label>
        <div class="col-sm-10">
          <ng-select appearance="outline" #agreeSelect labelForId="yesno" [searchable]="false" id="company_id" ngModel #company_id="ngModel" name="company_id">
            <ng-option *ngFor="let company of companies" [value]=company.id>{{company.name}}</ng-option>
          </ng-select>
        </div>
      </div>
      <div class="form-group row mb-0">
        <div class="col-sm-10">
          <button type="submit" class="btn btn-primary mb-0">{{ 'Edit' | translate }}</button>
          <button class="btn btn-outline-primary mb-0 ml-2" (click)="returnList()">{{ 'Cancel' | translate }}</button>
        </div>
      </div>
    </form>
  </div>
</div>
<simple-notifications></simple-notifications>
