<div class="card">
    <div class="card-body">
        <h5 class="card-title">Data Analyzed</h5>
        <div class="chart-container" *ngIf="passwordsLoaded">
            <app-bar-chart [shadow]="true" [class]="chartClass" [options]="chartDataConfig.barChartOptions"
                [data]="barAreaChartDataPasswords"></app-bar-chart>
        </div>
      <div class="chart-container centerVerticallyDiv" *ngIf="!passwordsLoaded">
        <div class="text-center h1">Loading
          <div class="spinner-grow align-middle" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </div>
    </div>
</div>
